{% extends 'base.html' -%}
{% set active_page = "index" %}
{% set title = "Project WPC 2017" %}



{% block content %}

    <div class="container">
        <div class="jumbotron">
            <div class="form-group">
                <form action="{{ url_for('upload_file') }}" class="upload-zone dropzone">
                    <div class="fallback">
                        <input name="uploaded_media" type="file" multiple/>
                    </div>
                </form>
            </div>
            <div class="form-group">
                <form
                        action="{{ url_for('process_order') }}"
                        class="order-ctrl"
                        onsubmit="event.preventDefault(); handleOrderForm(this);"
                >
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input class="order-crtl--client-email form-control" name="email" type="email"
                                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" required placeholder="Enter your email" />
                        </div>
                        <button type="submit" class="order-ctrl--confirm btn btn-default">
                            Confirm Order
                        </button>
                        <button type="button" class="order-ctrl--reset btn btn-default">
                            Clear Order
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br/>

    {% block scripts %}
        <script>
            function checkEmail(str) {
                var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if (!re.test(str))
                    alert("Please enter a valid email address");
            }

        </script>
        <script src="{{ url_for('.static', filename='js/bootstrap.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/dropzone.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/axios.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/order_storage.js') }}"></script>
        <script src="{{ url_for('static', filename='js/handle_order.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% endblock %}
{% endblock %}